<%#
 *  Licensed to the Apache Software Foundation (ASF) under one
 *  or more contributor license agreements.  See the NOTICE file
 *  distributed with this work for additional information
 *  regarding copyright ownership.  The ASF licenses this file
 *  to you under the Apache License, Version 2.0 (the
 *  "License"); you may not use this file except in compliance
 *  with the License.  You may obtain a copy of the License at
 *
 *       http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 *
 *
-%>
package <%= qi4j.packageName %>.bootstrap.domain;

import bootstrap.org.qi4j.AssemblyException;
import bootstrap.org.qi4j.LayerAssembly;
import layered.bootstrap.org.qi4j.LayerAssembler;
import layered.bootstrap.org.qi4j.LayeredLayerAssembler;

public class DomainLayer extends LayeredLayerAssembler
    implements LayerAssembler
{
    @Override
    public LayerAssembly assemble( LayerAssembly layer )
        throws AssemblyException
    {
<% if( qi4j.applicationtype === 'Rest API' ) {
%>        createModule( layer, CrudModule.class );<%
}
for( var mod in qi4j.modules ) {%>
<%- "        createModule( layer, " + qi4j.firstUpper(mod) + "Module.class );" %><%
}
if( hasFeature( 'security' ) ) {
%>        createModule( layer, SecurityModule.class );<%
} %>
        return layer;
    }
}
